@{
    ViewData["Title"] = "Access Denied";
}
<div class="container mt-5 text-center">
    <h2 class="text-danger">Access Denied</h2>
    <p class="lead">You do not have permission to view this page.</p>
	<p>WOMP WOMP :(</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Go Home</a>
</div>
